<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.TomLand.gamjareview.mapper.IGamjaReviewMapper">

	<!-- 동적 SQL 쿼리 -->
	
	<!-- ResultMap : typeAlias type="com.spring.TomLand.command.GamjaReviewVO" alias="gamjareview" -->
	
	<!-- 댓글 등록 -->
	<insert id="insert">
		insert into gamjareview
		(bno, writer, content, upload_path, file_loca, file_name, file_realName, profile_uploadPath, profile_fileLoca, profile_fileName, profile_fileRealName, gno)
		values(gamjareview_seq.nextval, #{writer}, #{content}, #{uploadPath}, #{fileLoca}, #{fileName}, #{fileRealName}, #{profileUploadPath}, #{profileFileLoca}, #{profileFileName}, #{profileFileRealName}, #{gno})
	</insert>

	<!-- 글 목록 가져오기 -->
	<select id="getList" resultType="gamjareview">
		<![CDATA[
			select * from(
				select rownum as rn, tbl.* from(
					select * from gamjareview
					order by bno desc)
				tbl)
			where rn > (#{pageNum} -1) * #{cpp}
			and rn <= #{pageNum} * #{cpp}
			and gno = #{gno}
		]]>
	</select>


</mapper>