<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.TomLand.user.mapper.IUserMapper">

	<!-- 동적 SQL 쿼리 -->
	
	<!-- ResultMap : mybatis-config.xml 에 셋팅 해놔서 _ -> 카멜로 변환 됨 -->
	<resultMap type="user" id="userMap">
		<id property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="userPw" column="user_pw"/>
		<result property="userEmail1" column="user_email1"/>
		<result property="userEmail2" column="user_email2"/>
		<result property="userPhone1" column="user_phone1"/>
		<result property="userPhone2" column="user_phone2"/>
		<result property="userPhone3" column="user_phone3"/>
		<result property="userAddrZipnum" column="user_addr_zipnum"/>
		<result property="userAddrBasic" column="user_addr_basic"/>
		<result property="userAddrDetail" column="user_addr_detail"/>
		<result property="userUploadPath" column="user_uploadpath"/>
		<result property="userFileLoca" column="user_fileloca"/>
		<result property="userFileName" column="user_filename"/>
		<result property="userFileRealName" column="user_filerealname"/>
		<result property="userRegDate" column="user_reg_date"/>
		<collection property="userBoardList" resultMap="list" />
	</resultMap>
	
	<resultMap type="board" id="list">
		<id property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="regDate" column="reg_date"/>
		<result property="viewCount" column="view_count"/>
	</resultMap>
	
	<resultMap type="cart" id="cartList">
		<id property="cartNo"  column="cart_no"/>
		<result property="userNo" column="user_no"/>
		<result property="gno" column="gno"/>
		<result property="bookCount" column="book_count"/>
	</resultMap>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from users
		where user_id = #{userId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join">
		insert into users
		(user_no, user_id, user_name, user_pw, user_email1, user_email2, user_phone1, user_phone2, user_phone3, user_addr_zipnum, user_addr_basic, user_addr_detail, user_uploadPath, user_fileLoca, user_fileName, user_fileRealName)
		values
		(users_seq.nextval, #{userId}, #{userName}, #{userPw}, #{userEmail1}, #{userEmail2}, #{userPhone1}, #{userPhone2}, #{userPhone3}, #{userAddrZipnum}, #{userAddrBasic}, #{userAddrDetail}, #{userUploadPath}, #{userFileLoca}, #{userFileName}, #{userFileRealName})
	</insert>

	<!-- 회원 로그인 -->
	<select id="login" resultType="user">
		select * from users where user_id = #{userId}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="userUpdate">
		update users set
		user_pw = #{userPw}, user_phone1 = #{userPhone1}, user_phone2 = #{userPhone2}, user_phone3 = #{userPhone3}, user_email1 = #{userEmail1}, user_email2 = #{userEmail2}, user_addr_zipnum = #{userAddrZipnum}, user_addr_basic = #{userAddrBasic}, user_addr_detail = #{userAddrDetail}, user_uploadpath = #{userUploadPath}, user_fileloca = #{userFileLoca}, user_filename = #{userFileName}, user_filerealname = #{userFileRealName}
		where user_id = #{userId}
	
	</update>

	<!-- 총 게시글 갯수 구하기-->
	<select id="writeCount" resultType="int">
		select count(*) from freeboard
		where writer = #{userId}
	</select>
	
	<!-- 총 댓글 갯수 구하기 -->
	<select id="replyCount" resultType="int">
		select count(*) from freereply
		where reply_id = #{userId}
	</select>

	<!-- 총 이미지 갯수 구하기 -->
	<select id="imgCount" resultType="int">
		select count(*) from snsboard
		where writer = #{userId}
	</select>

	<!-- 총 판매상품 갯수 구하기 -->
	<select id="gamjaCount" resultType="int">
		select count(*) from gamja
		where user_id = #{userId}
	</select>
	
	<!-- 마이페이지 -->
	<select id="getInfo" resultMap="userMap">
		select
			 user_no,
			 user_id,
			 user_name,
			 user_pw,
			 user_email1,
			 user_email2,
			 user_phone1,
			 user_phone2,
			 user_phone3,
			 user_addr_zipnum,
			 user_addr_basic,
			 user_addr_detail,
			 user_uploadPath,
			 user_fileLoca,
			 user_fileName,
			 user_fileRealName,
			 user_reg_date,
			 f.bno,
			 f.title,
			 f.reg_date,
			 f.view_count
		from users u
		left join freeboard f
		on u.user_id = f.writer
		where u.user_id = #{id}
		order by f.bno desc
	</select>
	
	<!-- 마이 글 -->
	<select id="getMyarticle" resultType="board">
		select * from freeboard
		where writer = #{userId}
	</select>
	
	<!-- 마이Cart -->
	<select id="getCart" resultType="cart">
		select a.cart_no, a.user_no, a.gno, a.book_count, b.user_id, b.p_name, b.p_price
		from cart a
		left join gamja b
		on a.gno = b.gno
		where a.user_no = #{userNo}
	</select>




</mapper>